body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
  
    .container {
      width: 50%;
      margin: 20px auto;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: white;
      color: black;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .text {
        margin-bottom: 12px;
      }
  
      .input-text {
        display: flex;
        flex-direction: column;
      }
  
      .loading {
        text-align: center;
      }
    }
  
    .flight-item {
      border: 1px solid #ddd;
      margin-bottom: 10px;
      border-radius: 5px;
      background-color: white;
      color: black;
      width: 50%;
      margin: 0 auto;

      p{
        padding: 4px;
      }
      .header-flight{
        color: #007bff;
        background-color: rgb(214 214 216);
        margin: 0;
        padding: 12px;
      }
  
      h3 {
        color: #007bff;
      }
    }
  
    .form-control {
      margin-bottom: 10px;
      width: 100%;
      padding: 10px;
      font-size: 16px;
    }
  
    .button {
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  
    .search-button {
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .header {
      background-color: rgb(214 214 216);
      color: black;
      text-align: center;
      padding: 10px 0;
      font-size: 24px;
    }
  }
  